kube-prometheus-stack:
  ## Component scraping kube scheduler
  kubeScheduler:
    enabled: false
  ## Component scraping etcd
  kubeEtcd:
    enabled: false
  ## Component scraping kubeDns. Use either this or coreDns
  kubeDns:
    enabled: false
  ## Component scraping coreDns. Use either this or kubeDns
  coreDns:
    enabled: false
  ## Component scraping the kube controller manager
  kubeControllerManager:
    enabled: false
  ## Component scraping kube proxy
  kubeProxy:
    enabled: false
  ## Component scraping the kubelet and kubelet-hosted cAdvisor
  kubelet:
    enabled: true
  alertmanager:
    service:
      type: LoadBalancer
    alertmanagerSpec:
      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: nfs-atlas
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 20Gi
      securityContext:
        # runAsGroup: 2000
        # runAsNonRoot: true
        # runAsUser: 1000
        fsGroup: 2000
  grafana:
    enabled: true
    ingress:
      enabled: true
      hosts:
      - grafana.germanium.cz
      ingressClassName: traefik
      tls:
       - secretName: grafana-germanium-cz-prod-tls
    additionalDataSources:
    - name: loki-gateway
      access: proxy
      basicAuth: false
      editable: false
      jsonData:
        manageAlerts: false
        maxLines: 1000
      orgId: 1
      type: loki
      url: http://loki-gateway.logging.svc.cluster.local
      version: 1
    serviceMonitor:
      labels:
        release: kube-prometheus-stack
  prometheus:
    service:
      type: LoadBalancer
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: nfs-atlas
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 20Gi
      securityContext:
        # runAsGroup: 2000
        # runAsNonRoot: true
        # runAsUser: 1000
        fsGroup: 1000 
