loki:
  loki:
    commonConfig:
      replication_factor: 1
    storage:
      type: 'filesystem'
    auth_enabled: false
  singleBinary:
    replicas: 1
  simpleScalable:
    enabled: false
  deploymentMode: SingleBinary
  monitoring:
    serviceMonitor:
      labels:
        release: kube-prometheus-stack
