namespace: cert-manager

cert-manager:
  installCRDs: true
  ingressShim:
    defaultIssuerName: letsencrypt-prod
    defaultIssuerKind: ClusterIssuer
  extraArgs:
    -  --dns01-recursive-nameservers=1.1.1.1:53,9.9.9.9:53
    -  --dns01-recursive-nameservers-only
  podDnsPolicy: None
  podDnsConfig:
    nameservers:
    - "1.1.1.1"
    - "9.9.9.9"
  global:
    logLevel: 2

  prometheus:
    # Note that you cannot enable both PodMonitor and ServiceMonitor as they are
    # mutually exclusive. Enabling both will result in an error.
    enabled: true

    servicemonitor:
      # Create a ServiceMonitor to add cert-manager to Prometheus.
      enabled: true
      prometheusInstance: default
      labels:
        release: kube-prometheus-stack


  extraDeploy:
  - |
    apiVersion: bitnami.com/v1alpha1
    kind: SealedSecret
    metadata:
      creationTimestamp: null
      name: cloudflare-token-secret
      namespace: cert-manager
    spec:
      encryptedData:
        cloudflare-token: AgCIxYUOsb0xt3HkUklxKxvwFGzGKQOBrB/kkX0nJWZWlQtKRly2NnhBeJPcqdh4956nQZB64tLlmLe1erdsnNuBBYaWmWdmaOyx9dOPP3eUPwAlM+t03tNqkAeR8kcT/HbiobmYJEHi6IsnNg4h8xRZvRzU+sfunDn45N7XngksWUD1ct0xBL7goU35oVxU1FVrmAtfoGvFHCqGVqPowKQmhzkGYFouyMRTxp7FAWNbUjddA2NUiQ101hMnT8R0HUw3CwVd3YgBDdIF5XAFJDqS9iNI9JAt4axOmWyeLBgtpTyVw/sKujR30DHeUPAYx1czhBeoyUYUjj9DVZJwwPQ8v/omMbqAbTApIgJajStsqp7GjPdDa/0D1y7mytJIKWmlzrWpFV3coHDN2bvwdzgCn1LkaInNW3Fg9jM3HWY9I8xPAyCWQLfsTYxbddPdXdqMK6AG+MpazucW4Pv/XsEXWHS8rd3UJYxtlLXMSIm3OZ5VJdcBLzHvesHAZuHQ20QyBuUdnSp6Jb+jd/qEFeTvg8Ls7DOsjSXj5b1ZV0nEY2rfp4Or6ErhDmhZZM/kRin5LfbpN1KT1PPY7BGbkl1Zgld7O0I6iprwLBI1iWSHBsDZYGz00cjftZICqJMQzP4fzy5dpvdaLBk/cCRYuRwVpLMmYIL2xxAbGZqgt6PlP7hpxdH/AXQS7kV0/tgvB7Qr4xoDYX1zr09XiF0fK+5nQVX4fQIUzIMPhaVRlv/gUPGiqAob0I5W
      template:
        metadata:
          creationTimestamp: null
          name: cloudflare-token-secret
          namespace: cert-manager
