apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    notifications.argoproj.io/subscribe.on-deployed.slack: argo
    notifications.argoproj.io/subscribe.on-health-degraded.slack: argo
    notifications.argoproj.io/subscribe.on-sync-failed.slack: argo
    notifications.argoproj.io/subscribe.on-sync-running.slack: argo
    notifications.argoproj.io/subscribe.on-sync-status-unknown.slack: argo
    notifications.argoproj.io/subscribe.on-sync-succeeded.slack: argo
  name: argocd
  namespace: argocd
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: default

sources:
  - repoURL: https://github.com/germanium-git/argocd
    path: apps/argocd
    targetRevision: HEAD
    helm:
      valueFiles:
      - values.yaml

  - repoURL: https://github.com/germanium-git/argocd/
    path: apps/argocd/addons
    targetRevision: main

syncPolicy:
  syncOptions:
  - CreateNamespace=true
